.buttons{
    display: flex;
    justify-content: center;
    gap: 22px;
}

.button1{
    width: 306px;
    height: 90px;
    background-color: transparent;
    border: 3px solid #fff;
}

.button2{
    width: 306px;
    height: 90px;  
    background-color:#DFA100 ;
    border: 0;
}

.link{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem ;
    font-weight: 700;

}

